* {
    padding: 0;
    margin: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: solid red 5px;
}

.cell {
    display: flex;
    flex-direction: row;
}

.cell:hover {
    background-color: black;
}

.cell.black { 
    background-color: black;
}